<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02 Motivation</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02 Motivation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ede243a29a354d6bb7f49095e9e8d9c5.png" alt="02 Motivation" usemap="#id-ede243a29a354d6bb7f49095e9e8d9c5map"/>
			   <map name="id-ede243a29a354d6bb7f49095e9e8d9c5map">
				  				<area shape="rect" coords="670,46,863,119" href="../elements/id-53e6044764f4437ea18cc9ae2e0369f5.html"  target="element">

				          <area shape="rect" coords="658,10,909,500" href="../objects/id-0e85f513fdee46ec8b426e0f29bbe64f.html" target="element" >
				  		<area shape="rect" coords="10,175,190,260" href="../elements/id-7d9ef841fb7a45a9b5b5525ec92c4988.html"  target="element">
				  		<area shape="rect" coords="10,55,190,140" href="../elements/id-57102ca8841b426fbd7aabdad0fbb987.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-57102ca8841b426fbd7aabdad0fbb987.html" target="element"> Ignorare iudicante elegantis disciplinae oblivione fruenda cognitio mi debet habent irridente </a> </td>
											    <td> <a href="../elements/id-57102ca8841b426fbd7aabdad0fbb987.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d9ef841fb7a45a9b5b5525ec92c4988.html" target="element"> Derepta foris constituant moveat possimus praesidium offendit notissima summam </a> </td>
											    <td> <a href="../elements/id-7d9ef841fb7a45a9b5b5525ec92c4988.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0e85f513fdee46ec8b426e0f29bbe64f.html" target="element"> Goals </a> </td>
									           <td> <a href="../objects/id-0e85f513fdee46ec8b426e0f29bbe64f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-53e6044764f4437ea18cc9ae2e0369f5.html" target="element"> Ornatus democriti illaberetur </a> </td>
													    <td> <a href="../elements/id-53e6044764f4437ea18cc9ae2e0369f5.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>